{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h1>Flask-SocketIO-Chat: {{ room }}</h1>
    <textarea id="chat" cols="80" rows="20"></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <form action="/" class='form' method="GET">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.submit, class="btn btn-success") }}
    </form>
</div>
{% endblock %}


{% block foot_scripts %}
    {{ super() }}
    {% include 'sub_templates/chat_scripts.html' %}
{% endblock %}
