{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

    <h1>Flask-SocketIO-Chat</h1>
    <form class='form' method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}: {{ form.name() }}
        {% for error in form.name.errors %}{{ error }}{% endfor %}
        <br>
        {{ form.room.label }}: {{ form.room() }}
        {% for error in form.room.errors %}{{ error }}{% endfor %}
        <br>
        {{ wtf.form_field(form.submit, class="btn btn-success") }}
    </form>
</div>
{% endblock %}
{{ wtf.quick_form(form) }}
